::-webkit-scrollbar {
    display: none;
}

:root {
    --btnBaseColor: #33c;
    --btnHoverColor: #33adff;
    --evenSectionBgColor: #f2f3f7;
}

#sectionGrid {
    display: grid;
    grid-template-areas: 
        "headerSection"
        "bodySection";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#headerSection {
    background: linear-gradient(to bottom, #070055, #1b0a3f, #291757, #6d3ca6, #fff)!important;
    grid-area: headerSection;
}

#logo {
    background-image: url("../images/logos/logoLaRicachona.webp");
    z-index: 100;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
#Ricachona {
    background-image: url("../images/bg/LaRicachonaBG.webp");
    background-position-y: bottom;
    background-position-x: right;
    height: 100vh;
    width: 100%;
    z-index: 90;
    background-repeat: no-repeat;
    position: absolute;
}
#waves {
    position: absolute;
    width: 100%;
    height: 63vh;
    background-image: url("../images/bg/homeBottomShape.webp");
    background-position-y: bottom;
    background-repeat: no-repeat;
    z-index: 70;
    bottom: 0;
}
#goDown {
    position: absolute;
    width: 3rem;
    height: 3rem;
    color: #fff;
    background-color: var(--btnBaseColor);
    border: 2px solid var(--btnBaseColor);
    z-index: 100;
    bottom: 0.5rem;
    left: 50%;
    border-radius: 100%;
    text-align: center;
    align-content: space-around;
    cursor: pointer;
}
#goUp {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-size: contain;
    background-image: url(../images/arrowUp.svg);
    border: solid 5px var(--btnBaseColor);
    z-index: 999;
}
.articleSection {
    width: 100%;
}
.articleSection section {
    margin: 0 auto;
    width: 60%;
}
.evenSection {
    background-color: var(--evenSectionBgColor);
}
.header-container {
    height: 100vh;
    position: relative;
    width: 100%;
}

.bodySection {
    grid-area: bodySection;
    display: grid;
    grid-template-areas: 
        "gameModeSection"
        "tripleModeSection" 
        "animalsModeSection"
        "contactSection"
        "footerSection";
    gap: 20px;
    width: 100%;
    /* margin: 0 auto; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.sectionTitle {
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin: 7rem auto !important;
}
/* ********************************************** */

#gameModeSection {
    display: grid;
    grid-template-areas: 
        "gameModeTitle"
        "gameModeSelectors"
        "gameModeDateTitle"
        "gameModeDatePicker";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 3rem auto 1rem;
    width: 60%;
    /* height: 100vh; */
    /* background-color: beige; */
}

#gameModeTitle {
    grid-area: gameModeTitle;
    padding: 0.5rem;
    display: flex;
} 
#gameModeTitle h3 {
    margin: 2rem auto;
}
#buttonGroup {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin: 1rem auto;
    justify-content: center;
}
#buttonGroup a {
    flex-grow: 2;
    background-color: var(--btnBaseColor);
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 25px;
    text-decoration: none;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
}
#buttonGroup a:hover {
    color: #fff;
    background-color: var(--btnHoverColor);
}

#gameModeSelectors {
    grid-area: gameModeSelectors;
}
#gameModeDateTitle {
    grid-area: gameModeDateTitle;
    padding: 0.5rem;
    display: flex;
}
#dateTitle {
    margin: 0 auto;
}
#gameModeDatePicker {
    grid-area: gameModeDatePicker;
    display: flex;
}
#date {
    margin: 0.5rem;
    width: 10rem;    
    height: 3rem;
}

#submitBtn {
    width: 10rem;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--btnBaseColor);
    margin: 0.5rem;
    border: unset;
    color: #fff;
}
#submitBtn:hover {
    background-color: var(--btnHoverColor);
}
form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
    justify-content: center;
}

/* ********************************************** */
#tripleModeTitle {
    font-weight: bold;
}
.tripleModeSection {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 4rem;
}
.tripleResultArticle {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    width: 15rem;
    height: 20rem;
    justify-self: anchor-center;
    text-align: center;
    color: white;
    background-color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: left;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    margin-top: 30px;
    font-weight: 500;
}
.tripleResultArticle h1 {
    color: #002B94 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.tripleResultArticle p {
    font-size: 45px;
    margin: 15px 0 0;
    color: #fff;
    line-height: 25px;
    font-weight: 900;
    background: #002B94;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 50px;
}

/* ********************************************** */
#animalsModeTitle {
    font-weight: bold;
}
.animalsModeSection {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 4rem;
}
.animalsResultArticle {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    width: 15rem;
    height: 17rem;
    justify-self: anchor-center;
    text-align: center;
    color: white;
    background-color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: left;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    margin-top: 30px;
    font-weight: 500;
}
.animalsResultArticle h1 {
    color: #002B94 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.animalsResultArticle img {
    margin: 15px 0 0;
    line-height: 25px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}
/* ********************************************** */
#footerSection {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
}
#footerSection figure {
    display: flex;
}

#footerSection img {
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
#footerSection figure:first-child{
    width: 10rem;
    margin: 0 auto;
}
#footerSection figure:last-child{
    height: 10rem;
}
/* ******************************************************************************************** */
/* MEDIA QUERIES */

@media screen and (max-width: 320px) {
    #waves {
        display: none;
    }
    #Ricachona {
        display: none;
    }
    #logo {
        margin: 0 auto;
        width: 10rem;
        height: 20rem;
        display: flex;
        position: relative;
        background-size: contain;
    }
    .header-container {
        height: 37vh;
    }
    #gameModeSection {
        margin: 0;
        width: 100%;
    }
    #gameModeTitle {
        width: 100%;
    } 
    #gameModeTitle h3 {
        margin: 2rem auto 1rem auto;
    }   
    #gameModeDateTitle h5 {
        font-size: 1rem;
        text-align: center;   
    }
    .tripleModeSection,
    .animalsModeSection {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 1fr;
    }
    #footerSection {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }
    
    #footerSection figure:first-child{
        width: auto;
        margin: 0;
    }
    #footerSection figure:last-child{
        height: 5rem;
    }
    #goUp {
        right: 1rem;
        bottom: 1rem;
    }
    #goDown {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        left: unset;
        bottom: unset;
        margin-top: -3rem;
        text-decoration: none;
    }
    form {
        flex-direction: column;
    }
    #buttonGroup {
        margin: 0;
    }
    
    .articleSection section {
        width: 100%;
    }
    .sectionTitle {
        margin: 3rem auto !important
    }
    .tripleResultArticle,
    .animalsResultArticle {
        height: 15rem;
        margin-top: 0;
    }
    .tripleResultArticle p {
        margin: 0;
        font-size: 30px;
    }
    .sectionTitle {
        letter-spacing: 5px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    #logo {
        margin: 0 auto;
        width: 20rem;
        height: 30rem;
        display: flex;
        position: relative;
        background-size: contain;
    }
    .header-container {
        height: auto;
    }
    #goDown {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        left: unset;
        bottom: unset;
        margin-top: -4rem;
        text-decoration: none;
    }
    #gameModeSection {
        margin: 0 auto;
        width: 100%;
    }
    .articleSection section {
        width: 100%;
        margin: 3rem auto !important;
    }
    #footerSection {
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }
    #footerSection figure:first-child {
        width: auto;
        height: 10rem;
    }
    #footerSection figure:last-child {
        height: 5rem;
    }
    form {
        flex-direction: column;
    }
    #gameModeTitle h3 {
        margin: 2rem auto 1rem auto;
    }  
    #gameModeDateTitle h5 {
        font-size: 1rem;
        text-align: center;
    } 
    .tripleResultArticle, .animalsResultArticle {
        height: 15rem;
        margin-top: 0;
    }
    .tripleResultArticle p {
        margin: 0;
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    .tripleModeSection,
    .animalsModeSection {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    #logo {
        margin: 0 auto;
        width: 15rem;
        height: 25rem;
        display: flex;
        position: relative;
        background-size: contain;
    }
    .header-container {
        height: auto;
    }
    #goDown {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        left: unset;
        bottom: unset;
        margin-top: -4rem;
        text-decoration: none;
    }
    #gameModeSection {
        margin: 0 auto;
        width: 100%;
    }
    .articleSection section {
        width: 100%;
        margin: 3rem auto !important;
    }
    #footerSection {
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }
    #footerSection figure:first-child {
        width: auto;
        height: 10rem;
    }
    #footerSection figure:last-child {
        height: 5rem;
    }
    form {
        flex-direction: column;
    }
    #gameModeTitle h3 {
        margin: 2rem auto 1rem auto;
    }  
    #gameModeDateTitle h5 {
        font-size: 1rem;
        text-align: center;
    } 
    .tripleResultArticle, .animalsResultArticle {
        height: 15rem;
        margin-top: 0;
        width: 12rem;
        padding: 15px 15px;
    }
    .tripleResultArticle p {
        margin: 0;
        font-size: 30px;
    }
    .tripleModeSection,
    .animalsModeSection {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr 1fr;
    }
    #date, #submitBtn, form {
        width: 90%;
        margin: 0.5rem auto;
    }
    .articleSection section {
        width: 100%;
        margin: 1rem auto !important;
    }
}

@media screen and (max-width: 769px) {
    #Ricachona {
        display: none;  
    }
    #waves {
        display: none;  
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .tripleModeSection,
    .animalsModeSection {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
    }
     #logo {
        margin: 0 auto;
        width: 15rem;
        height: 25rem;
        display: flex;
        position: relative;
        background-size: contain;
    }
    .header-container {
        height: auto;
    }
    #goDown {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        left: unset;
        bottom: unset;
        margin-top: -4rem;
        text-decoration: none;
    }
    #gameModeSection {
        margin: 0 auto;
        width: 100%;
    }
    .articleSection section {
        width: 100%;
        margin: 3rem auto !important;
    }
    #footerSection {
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }
    #footerSection figure:first-child {
        width: auto;
        height: 10rem;
    }
    #footerSection figure:last-child {
        height: 5rem;
    }
    form {
        flex-direction: column;
    }
    #gameModeTitle h3 {
        margin: 2rem auto 1rem auto;
    }  
    #gameModeDateTitle h5 {
        font-size: 1rem;
        text-align: center;
    } 
    .tripleResultArticle, .animalsResultArticle {
        height: 15rem;
        margin-top: 0;
        width: 12rem;
        padding: 15px 15px;
    }
    .tripleResultArticle p {
        margin: 0;
        font-size: 30px;
    }
    #date, #submitBtn, form {
        width: 90%;
        margin: 0.5rem auto;
    }
    .articleSection section {
        width: 100%;
        margin: 1rem auto !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #Ricachona {
        display: none;
    }
    .tripleModeSection,
    .animalsModeSection {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
    }
     #logo {
        margin: 0 auto;
        width: 15rem;
        height: 25rem;
        display: flex;
        position: relative;
        background-size: contain;
    }
    .header-container {
        height: auto;
    }
    #goDown {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        left: unset;
        bottom: unset;
        margin-top: -4rem;
        text-decoration: none;
    }
    #gameModeSection {
        margin: 0 auto;
        width: 100%;
    }
    .articleSection section {
        width: 100%;
        margin: 3rem auto !important;
    }
    #footerSection {
        margin: 0;
        padding: 0;
        padding: 0;
        margin: 0;
    }
    #footerSection figure:first-child {
        width: auto;
        height: 10rem;
    }
    #footerSection figure:last-child {
        height: 5rem;
    }
    form {
        flex-direction: column;
    }
    #gameModeTitle h3 {
        margin: 2rem auto 1rem auto;
    }  
    #gameModeDateTitle h5 {
        font-size: 1rem;
        text-align: center;
    } 
    .tripleResultArticle, .animalsResultArticle {
        height: 15rem;
        margin-top: 0;
        width: 12rem;
        padding: 15px 15px;
    }
    .tripleResultArticle p {
        margin: 0;
        font-size: 30px;
    }
    #date, #submitBtn, form, #gameModeSelectors {
        width: 50%;
        margin: 0.5rem auto;
    }
    .articleSection section {
        width: 100%;
    }
    
}