::-webkit-scrollbar {
    display: none;
}

:root {
    --btnBaseColor: #33c;
    --btnHoverColor: #33adff;
}

#sectionGrid {
    display: grid;
    grid-template-areas: 
        "headerSection"
        "bodySection";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#headerSection {
    background: linear-gradient(to bottom, #070055, #1b0a3f, #291757, #6d3ca6, #fff)!important;
    grid-area: headerSection;
}

#logo {
    background-image: url("../images/logos/logoLaRicachona.webp");
    z-index: 100;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
#Ricachona {
    background-image: url("../images/bg/LaRicachonaBG.webp");
    background-position-y: bottom;
    background-position-x: right;
    height: 100vh;
    width: 100%;
    z-index: 90;
    background-repeat: no-repeat;
    position: absolute;
}
#waves {
    position: absolute;
    width: 100%;
    height: 63vh;
    background-image: url("../images/bg/homeBottomShape.webp");
    background-position-y: bottom;
    background-repeat: no-repeat;
    z-index: 70;
    bottom: 0;
}
#goDown {
    position: absolute;
    width: 3rem;
    height: 3rem;
    color: #fff;
    background-color: var(--btnBaseColor);
    border: 2px solid var(--btnBaseColor);
    z-index: 100;
    bottom: 0.5rem;
    left: 50%;
    border-radius: 100%;
    text-align: center;
    align-content: space-around;
    cursor: pointer;
}
#goUp {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-size: contain;
    background-image: url(../images/arrowUp.svg);
    border: solid 5px var(--btnBaseColor);
    z-index: 999;
}

.header-container {
    height: 100vh;
    position: RELATIVE;
    width: 100%;
}

.bodySection {
    /* background-color: cadetblue; */
    grid-area: bodySection;
    display: grid;
    grid-template-areas: 
        "gameModeSection"
        "tripleModeSection" 
        "animalsModeSection"
        "contactSection"
        "footerSection";
    gap: 10px;
    width: 65%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* height: 10rem; */
}

#gameModeSection {
    display: grid;
    grid-template-areas: 
        "gameModeTitle"
        "gameModeSelectors"
        "gameModeDateTitle"
        "gameModeDatePicker";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 3rem;
    height: 100vh;
    background-color: beige;
}

#gameModeTitle {
    grid-area: gameModeTitle;
    padding: 1rem;
    display: flex;
} 
#gameModeTitle h3 {
    margin: 2rem auto;
}
#buttonGroup {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    /* width: 50%; */
    margin: 1rem auto;
    justify-content: center;
}
#buttonGroup a {
    flex-grow: 2;
    height: 2rem;
    background-color: var(--btnBaseColor);
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 25px;
    text-decoration: none;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
}
#buttonGroup a:hover {
    color: #fff;
    background-color: var(--btnHoverColor);
}

#gameModeSelectors {
    grid-area: gameModeSelectors;
}
#gameModeDateTitle {
    grid-area: gameModeDateTitle;
    padding: 0.5rem;
    display: flex;
}
#dateTitle {
    margin: 0 auto;
}
#gameModeDatePicker {
    grid-area: gameModeDatePicker;
    display: flex;
}
#date {
    margin: 0.5rem;
    width: 10rem;    
    height: 3rem;
}

#submitBtn {
    /* width: 100%; */
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--btnBaseColor);
    margin: 0.5rem;
    border: unset;
    color: #fff;
}
#submitBtn:hover {
    background-color: var(--btnHoverColor);
}
form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
    justify-content: center;
}
